<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>C_R_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.lf</key>
	<string>eight.lf.glif</string>
	<key>eight.pl</key>
	<string>eight.pl.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_ij</key>
	<string>f_f_ij.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>f_i</key>
	<string>f_i.glif</string>
	<key>f_ij</key>
	<string>f_ij.glif</string>
	<key>f_l</key>
	<string>f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.lf</key>
	<string>five.lf.glif</string>
	<key>five.pl</key>
	<string>five.pl.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.lf</key>
	<string>four.lf.glif</string>
	<key>four.pl</key>
	<string>four.pl.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>guillemetleft</key>
	<string>guillemetleft.glif</string>
	<key>guillemetright</key>
	<string>guillemetright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>hyphensoft</key>
	<string>hyphensoft.glif</string>
	<key>hyphentwo</key>
	<string>hyphentwo.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>ij</key>
	<string>ij.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>leftanglebracket-math</key>
	<string>leftanglebracket-math.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.lf</key>
	<string>nine.lf.glif</string>
	<key>nine.pl</key>
	<string>nine.pl.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.lf</key>
	<string>one.lf.glif</string>
	<key>one.pl</key>
	<string>one.pl.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>rightanglebracket-math</key>
	<string>rightanglebracket-math.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.lf</key>
	<string>seven.lf.glif</string>
	<key>seven.pl</key>
	<string>seven.pl.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.lf</key>
	<string>six.lf.glif</string>
	<key>six.pl</key>
	<string>six.pl.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.lf</key>
	<string>three.lf.glif</string>
	<key>three.pl</key>
	<string>three.pl.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.lf</key>
	<string>two.lf.glif</string>
	<key>two.pl</key>
	<string>two.pl.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.lf</key>
	<string>zero.lf.glif</string>
	<key>zero.pl</key>
	<string>zero.pl.glif</string>
</dict>
</plist>
