<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UFOFormat</key>
	<integer>2</integer>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>A4A89B06-72F1-4D5A-BCC6-4EC100CDF0CC</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>AE</string>
		<string>ae</string>
		<string>eth</string>
		<string>OE</string>
		<string>oe</string>
		<string>germandbls</string>
		<string>Thorn</string>
		<string>Schwa</string>
		<string>ipa:schwa</string>
		<string>ampersand</string>
		<string>at</string>
		<string>asterisk</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>hyphensoft</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>ellipsis</string>
		<string>periodcentered</string>
		<string>bulletoperator</string>
		<string>bullet</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>paragraph</string>
		<string>numbersign</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>divisionslash</string>
		<string>degree</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>multiply</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>divide</string>
		<string>logicalnot</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>Euro</string>
		<string>currency</string>
		<string>dollar</string>
		<string>cent</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>numero</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>litre</string>
		<string>estimated</string>
		<string>infinity</string>
		<string>partialdiff</string>
		<string>integral</string>
		<string>radical</string>
		<string>summation</string>
		<string>product</string>
		<string>lozenge</string>
		<string>I.alt</string>
		<string>J.alt</string>
		<string>a.alt</string>
		<string>u.alt</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.typemytype.robofont.Background.layerStrokeColor</key>
	<array>
		<real>1.0</real>
		<real>0.75</real>
		<real>0.0</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<integer>0</integer>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/Mimiii/Documents/DSAA/STAGE/#COOPERS&amp;BRASSES/_Radio Canada/4_OTF/Radio-Canada-Light Italic-ML-approches.otf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<integer>0</integer>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
		<string>Background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>NULL</string>
				<string>CR</string>
				<string>space</string>
				<string>nbspace</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>k</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>t</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>z</string>
				<string>Agrave</string>
				<string>agrave</string>
				<string>Aacute</string>
				<string>aacute</string>
				<string>Acircumflex</string>
				<string>acircumflex</string>
				<string>Atilde</string>
				<string>atilde</string>
				<string>Adieresis</string>
				<string>adieresis</string>
				<string>Amacron</string>
				<string>amacron</string>
				<string>Abreve</string>
				<string>abreve</string>
				<string>Aring</string>
				<string>aring</string>
				<string>Aringacute</string>
				<string>aringacute</string>
				<string>Adotbelow</string>
				<string>adotbelow</string>
				<string>Aogonek</string>
				<string>aogonek</string>
				<string>AE</string>
				<string>ae</string>
				<string>AEacute</string>
				<string>aeacute</string>
				<string>Cacute</string>
				<string>cacute</string>
				<string>Ccircumflex</string>
				<string>ccircumflex</string>
				<string>Ccaron</string>
				<string>ccaron</string>
				<string>Cdotaccent</string>
				<string>cdotaccent</string>
				<string>Ccedilla</string>
				<string>ccedilla</string>
				<string>Dcaron</string>
				<string>dcaron</string>
				<string>Dcroat</string>
				<string>dcroat</string>
				<string>Eth</string>
				<string>eth</string>
				<string>Egrave</string>
				<string>egrave</string>
				<string>Eacute</string>
				<string>eacute</string>
				<string>Ecircumflex</string>
				<string>ecircumflex</string>
				<string>Etilde</string>
				<string>etilde</string>
				<string>Ecaron</string>
				<string>ecaron</string>
				<string>Edieresis</string>
				<string>edieresis</string>
				<string>Emacron</string>
				<string>emacron</string>
				<string>Ebreve</string>
				<string>ebreve</string>
				<string>Edotaccent</string>
				<string>edotaccent</string>
				<string>Edotbelow</string>
				<string>edotbelow</string>
				<string>Eogonek</string>
				<string>eogonek</string>
				<string>Gcircumflex</string>
				<string>gcircumflex</string>
				<string>Gcaron</string>
				<string>gcaron</string>
				<string>Gbreve</string>
				<string>gbreve</string>
				<string>Gdotaccent</string>
				<string>gdotaccent</string>
				<string>Gcedilla</string>
				<string>gcedilla</string>
				<string>Hcircumflex</string>
				<string>hcircumflex</string>
				<string>Hbar</string>
				<string>hbar</string>
				<string>dotlessi</string>
				<string>Igrave</string>
				<string>igrave</string>
				<string>Iacute</string>
				<string>iacute</string>
				<string>Icircumflex</string>
				<string>icircumflex</string>
				<string>Itilde</string>
				<string>itilde</string>
				<string>Idieresis</string>
				<string>idieresis</string>
				<string>Imacron</string>
				<string>imacron</string>
				<string>Ibreve</string>
				<string>ibreve</string>
				<string>Idotaccent</string>
				<string>i.TRK</string>
				<string>Idotbelow</string>
				<string>idotbelow</string>
				<string>Iogonek</string>
				<string>iogonek</string>
				<string>dotlessj</string>
				<string>Jcircumflex</string>
				<string>jcircumflex</string>
				<string>Kcedilla</string>
				<string>kcedilla</string>
				<string>kra</string>
				<string>Lacute</string>
				<string>lacute</string>
				<string>Lcaron</string>
				<string>lcaron</string>
				<string>Lcedilla</string>
				<string>lcedilla</string>
				<string>Lslash</string>
				<string>lslash</string>
				<string>Ldot</string>
				<string>ldot</string>
				<string>Nacute</string>
				<string>nacute</string>
				<string>Ntilde</string>
				<string>ntilde</string>
				<string>Ncaron</string>
				<string>ncaron</string>
				<string>Ncedilla</string>
				<string>ncedilla</string>
				<string>Nhookleft</string>
				<string>nhookleft</string>
				<string>Eng</string>
				<string>eng</string>
				<string>napostrophe</string>
				<string>Ograve</string>
				<string>ograve</string>
				<string>Oacute</string>
				<string>oacute</string>
				<string>Ocircumflex</string>
				<string>ocircumflex</string>
				<string>Otilde</string>
				<string>otilde</string>
				<string>Odieresis</string>
				<string>odieresis</string>
				<string>Omacron</string>
				<string>omacron</string>
				<string>Obreve</string>
				<string>obreve</string>
				<string>Ohungarumlaut</string>
				<string>ohungarumlaut</string>
				<string>Odotbelow</string>
				<string>odotbelow</string>
				<string>Oogonek</string>
				<string>oogonek</string>
				<string>Oslash</string>
				<string>oslash</string>
				<string>Oslashacute</string>
				<string>oslashacute</string>
				<string>OE</string>
				<string>oe</string>
				<string>Racute</string>
				<string>racute</string>
				<string>Rcaron</string>
				<string>rcaron</string>
				<string>Rcedilla</string>
				<string>rcedilla</string>
				<string>Sacute</string>
				<string>sacute</string>
				<string>Scircumflex</string>
				<string>scircumflex</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>Scedilla</string>
				<string>scedilla</string>
				<string>Scommaaccent</string>
				<string>scommaaccent</string>
				<string>Germandbls</string>
				<string>germandbls</string>
				<string>Tcaron</string>
				<string>tcaron</string>
				<string>Tcedilla</string>
				<string>tcedilla</string>
				<string>Tcommaaccent</string>
				<string>tcommaaccent</string>
				<string>Tbar</string>
				<string>tbar</string>
				<string>Thorn</string>
				<string>thorn</string>
				<string>Ugrave</string>
				<string>ugrave</string>
				<string>Uacute</string>
				<string>uacute</string>
				<string>Ucircumflex</string>
				<string>ucircumflex</string>
				<string>Utilde</string>
				<string>utilde</string>
				<string>Udieresis</string>
				<string>udieresis</string>
				<string>Umacron</string>
				<string>umacron</string>
				<string>Ubreve</string>
				<string>ubreve</string>
				<string>Uring</string>
				<string>uring</string>
				<string>Uhungarumlaut</string>
				<string>uhungarumlaut</string>
				<string>Udotbelow</string>
				<string>udotbelow</string>
				<string>Uogonek</string>
				<string>uogonek</string>
				<string>Wgrave</string>
				<string>wgrave</string>
				<string>Wacute</string>
				<string>wacute</string>
				<string>Wcircumflex</string>
				<string>wcircumflex</string>
				<string>Wdieresis</string>
				<string>wdieresis</string>
				<string>Ygrave</string>
				<string>ygrave</string>
				<string>Yacute</string>
				<string>yacute</string>
				<string>Ycircumflex</string>
				<string>ycircumflex</string>
				<string>Ytilde</string>
				<string>ytilde</string>
				<string>Ydieresis</string>
				<string>ydieresis</string>
				<string>Ymacron</string>
				<string>ymacron</string>
				<string>Zacute</string>
				<string>zacute</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>Zdotaccent</string>
				<string>zdotaccent</string>
				<string>IJ</string>
				<string>ij</string>
				<string>IJacute</string>
				<string>ijacute</string>
				<string>Schwa</string>
				<string>ipa:schwa</string>
				<string>f_f</string>
				<string>fi</string>
				<string>f_i</string>
				<string>fl</string>
				<string>f_l</string>
				<string>f_ij</string>
				<string>f_f_i</string>
				<string>f_f_l</string>
				<string>f_f_ij</string>
				<string>ampersand</string>
				<string>at</string>
				<string>asterisk</string>
				<string>copyright</string>
				<string>registered</string>
				<string>trademark</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>grave</string>
				<string>grave.cap</string>
				<string>acute</string>
				<string>acute.cap</string>
				<string>circumflex</string>
				<string>circumflex.cap</string>
				<string>caron</string>
				<string>caron.cap</string>
				<string>caron.alt</string>
				<string>tilde</string>
				<string>tilde.cap</string>
				<string>dieresis</string>
				<string>dieresis.cap</string>
				<string>macron</string>
				<string>macron.cap</string>
				<string>macronmod</string>
				<string>breve</string>
				<string>breve.cap</string>
				<string>ring</string>
				<string>ring.cap</string>
				<string>ring_acute</string>
				<string>ring_acute.cap</string>
				<string>hungarumlaut</string>
				<string>hungarumlaut.cap</string>
				<string>dotaccent</string>
				<string>dotaccent.cap</string>
				<string>cedilla</string>
				<string>dotbelow</string>
				<string>ogonek</string>
				<string>ogonek.alt</string>
				<string>commaaccent</string>
				<string>commaaccent.alt</string>
				<string>hyphensoft</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>underscore</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>exclam</string>
				<string>exclamdown</string>
				<string>question</string>
				<string>questiondown</string>
				<string>ellipsis</string>
				<string>periodcentered</string>
				<string>bulletoperator</string>
				<string>bullet</string>
				<string>slash</string>
				<string>backslash</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemetleft</string>
				<string>guillemetright</string>
				<string>paragraph</string>
				<string>gem</string>
				<string>numbersign</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>zero.pl</string>
				<string>one.pl</string>
				<string>two.pl</string>
				<string>three.pl</string>
				<string>four.pl</string>
				<string>five.pl</string>
				<string>six.pl</string>
				<string>seven.pl</string>
				<string>eight.pl</string>
				<string>nine.pl</string>
				<string>fraction</string>
				<string>divisionslash</string>
				<string>degree</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>plus</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>equal</string>
				<string>notequal</string>
				<string>approxequal</string>
				<string>multiply</string>
				<string>less</string>
				<string>greater</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>divide</string>
				<string>logicalnot</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>section</string>
				<string>Euro</string>
				<string>currency</string>
				<string>dollar</string>
				<string>cent</string>
				<string>florin</string>
				<string>sterling</string>
				<string>yen</string>
				<string>onesuperior</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>numero</string>
				<string>Delta</string>
				<string>increment</string>
				<string>Omega</string>
				<string>ohm</string>
				<string>mu</string>
				<string>mu.math</string>
				<string>pi</string>
				<string>litre</string>
				<string>estimated</string>
				<string>infinity</string>
				<string>partialdiff</string>
				<string>integral</string>
				<string>radical</string>
				<string>summation</string>
				<string>product</string>
				<string>lozenge</string>
				<string>I.alt</string>
				<string>J.alt</string>
				<string>a.alt</string>
				<string>u.alt</string>
				<string>Igrave.alt</string>
				<string>Iacute.alt</string>
				<string>Icircumflex.alt</string>
				<string>Itilde.alt</string>
				<string>Idieresis.alt</string>
				<string>Imacron.alt</string>
				<string>Ibreve.alt</string>
				<string>Idotaccent.alt</string>
				<string>Idotbelow.alt</string>
				<string>Iogonek.alt</string>
				<string>Jcircumflex.alt</string>
				<string>agrave.alt</string>
				<string>aacute.alt</string>
				<string>acircumflex.alt</string>
				<string>atilde.alt</string>
				<string>adieresis.alt</string>
				<string>amacron.alt</string>
				<string>abreve.alt</string>
				<string>aring.alt</string>
				<string>aringacute.alt</string>
				<string>adotbelow.alt</string>
				<string>aogonek.alt</string>
				<string>ugrave.alt</string>
				<string>uacute.alt</string>
				<string>ucircumflex.alt</string>
				<string>utilde.alt</string>
				<string>udieresis.alt</string>
				<string>umacron.alt</string>
				<string>ubreve.alt</string>
				<string>uring.alt</string>
				<string>uhungarumlaut.alt</string>
				<string>udotbelow.alt</string>
				<string>uogonek.alt</string>
				<string>period.tab</string>
				<string>comma.tab</string>
				<string>colon.tab</string>
				<string>semicolon.tab</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>com.typemytype.robofont.templateCharacterSet</key>
	<string>Radio-Canada</string>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>nbspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>Agrave</string>
		<string>agrave</string>
		<string>Aacute</string>
		<string>aacute</string>
		<string>Acircumflex</string>
		<string>acircumflex</string>
		<string>Atilde</string>
		<string>atilde</string>
		<string>Adieresis</string>
		<string>adieresis</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aring</string>
		<string>aring</string>
		<string>Aringacute</string>
		<string>aringacute</string>
		<string>Adotbelow</string>
		<string>adotbelow</string>
		<string>Aogonek</string>
		<string>aogonek</string>
		<string>AE</string>
		<string>ae</string>
		<string>AEacute</string>
		<string>aeacute</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccircumflex</string>
		<string>ccircumflex</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Cdotaccent</string>
		<string>cdotaccent</string>
		<string>Ccedilla</string>
		<string>ccedilla</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Eth</string>
		<string>eth</string>
		<string>Egrave</string>
		<string>egrave</string>
		<string>Eacute</string>
		<string>eacute</string>
		<string>Ecircumflex</string>
		<string>ecircumflex</string>
		<string>Etilde</string>
		<string>etilde</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Edieresis</string>
		<string>edieresis</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Ebreve</string>
		<string>ebreve</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Edotbelow</string>
		<string>edotbelow</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Gcircumflex</string>
		<string>gcircumflex</string>
		<string>Gcaron</string>
		<string>gcaron</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Gdotaccent</string>
		<string>gdotaccent</string>
		<string>Gcedilla</string>
		<string>gcedilla</string>
		<string>Hcircumflex</string>
		<string>hcircumflex</string>
		<string>Hbar</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>Igrave</string>
		<string>igrave</string>
		<string>Iacute</string>
		<string>iacute</string>
		<string>Icircumflex</string>
		<string>icircumflex</string>
		<string>Itilde</string>
		<string>itilde</string>
		<string>Idieresis</string>
		<string>idieresis</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Ibreve</string>
		<string>ibreve</string>
		<string>Idotaccent</string>
		<string>i.TRK</string>
		<string>Idotbelow</string>
		<string>idotbelow</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>dotlessj</string>
		<string>Jcircumflex</string>
		<string>jcircumflex</string>
		<string>Kcedilla</string>
		<string>kcedilla</string>
		<string>kra</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>Lcedilla</string>
		<string>lcedilla</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Ldot</string>
		<string>ldot</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ntilde</string>
		<string>ntilde</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Ncedilla</string>
		<string>ncedilla</string>
		<string>Nhookleft</string>
		<string>nhookleft</string>
		<string>Eng</string>
		<string>eng</string>
		<string>napostrophe</string>
		<string>Ograve</string>
		<string>ograve</string>
		<string>Oacute</string>
		<string>oacute</string>
		<string>Ocircumflex</string>
		<string>ocircumflex</string>
		<string>Otilde</string>
		<string>otilde</string>
		<string>Odieresis</string>
		<string>odieresis</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Obreve</string>
		<string>obreve</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>Odotbelow</string>
		<string>odotbelow</string>
		<string>Oogonek</string>
		<string>oogonek</string>
		<string>Oslash</string>
		<string>oslash</string>
		<string>Oslashacute</string>
		<string>oslashacute</string>
		<string>OE</string>
		<string>oe</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Rcedilla</string>
		<string>rcedilla</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scircumflex</string>
		<string>scircumflex</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Scommaaccent</string>
		<string>scommaaccent</string>
		<string>Germandbls</string>
		<string>germandbls</string>
		<string>Tcaron</string>
		<string>tcaron</string>
		<string>Tcedilla</string>
		<string>tcedilla</string>
		<string>Tcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Tbar</string>
		<string>tbar</string>
		<string>Thorn</string>
		<string>thorn</string>
		<string>Ugrave</string>
		<string>ugrave</string>
		<string>Uacute</string>
		<string>uacute</string>
		<string>Ucircumflex</string>
		<string>ucircumflex</string>
		<string>Utilde</string>
		<string>utilde</string>
		<string>Udieresis</string>
		<string>udieresis</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Ubreve</string>
		<string>ubreve</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Udotbelow</string>
		<string>udotbelow</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Wgrave</string>
		<string>wgrave</string>
		<string>Wacute</string>
		<string>wacute</string>
		<string>Wcircumflex</string>
		<string>wcircumflex</string>
		<string>Wdieresis</string>
		<string>wdieresis</string>
		<string>Ygrave</string>
		<string>ygrave</string>
		<string>Yacute</string>
		<string>yacute</string>
		<string>Ycircumflex</string>
		<string>ycircumflex</string>
		<string>Ytilde</string>
		<string>ytilde</string>
		<string>Ydieresis</string>
		<string>ydieresis</string>
		<string>Ymacron</string>
		<string>ymacron</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>IJ</string>
		<string>ij</string>
		<string>IJacute</string>
		<string>ijacute</string>
		<string>Schwa</string>
		<string>ipa:schwa</string>
		<string>f_f</string>
		<string>fi</string>
		<string>f_i</string>
		<string>fl</string>
		<string>f_l</string>
		<string>f_ij</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_f_ij</string>
		<string>ampersand</string>
		<string>at</string>
		<string>asterisk</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>grave</string>
		<string>grave.cap</string>
		<string>acute</string>
		<string>acute.cap</string>
		<string>circumflex</string>
		<string>circumflex.cap</string>
		<string>caron</string>
		<string>caron.cap</string>
		<string>caron.alt</string>
		<string>tilde</string>
		<string>tilde.cap</string>
		<string>dieresis</string>
		<string>dieresis.cap</string>
		<string>macron</string>
		<string>macron.cap</string>
		<string>macronmod</string>
		<string>breve</string>
		<string>breve.cap</string>
		<string>ring</string>
		<string>ring.cap</string>
		<string>ring_acute</string>
		<string>ring_acute.cap</string>
		<string>hungarumlaut</string>
		<string>hungarumlaut.cap</string>
		<string>dotaccent</string>
		<string>dotaccent.cap</string>
		<string>cedilla</string>
		<string>dotbelow</string>
		<string>ogonek</string>
		<string>ogonek.alt</string>
		<string>commaaccent</string>
		<string>commaaccent.alt</string>
		<string>hyphensoft</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>ellipsis</string>
		<string>periodcentered</string>
		<string>bulletoperator</string>
		<string>bullet</string>
		<string>slash</string>
		<string>backslash</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>paragraph</string>
		<string>gem</string>
		<string>numbersign</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.pl</string>
		<string>one.pl</string>
		<string>two.pl</string>
		<string>three.pl</string>
		<string>four.pl</string>
		<string>five.pl</string>
		<string>six.pl</string>
		<string>seven.pl</string>
		<string>eight.pl</string>
		<string>nine.pl</string>
		<string>fraction</string>
		<string>divisionslash</string>
		<string>degree</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>multiply</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>divide</string>
		<string>logicalnot</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>Euro</string>
		<string>currency</string>
		<string>dollar</string>
		<string>cent</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>numero</string>
		<string>Delta</string>
		<string>increment</string>
		<string>Omega</string>
		<string>ohm</string>
		<string>mu</string>
		<string>mu.math</string>
		<string>pi</string>
		<string>litre</string>
		<string>estimated</string>
		<string>infinity</string>
		<string>partialdiff</string>
		<string>integral</string>
		<string>radical</string>
		<string>summation</string>
		<string>product</string>
		<string>lozenge</string>
		<string>I.alt</string>
		<string>J.alt</string>
		<string>a.alt</string>
		<string>u.alt</string>
		<string>Igrave.alt</string>
		<string>Iacute.alt</string>
		<string>Icircumflex.alt</string>
		<string>Itilde.alt</string>
		<string>Idieresis.alt</string>
		<string>Imacron.alt</string>
		<string>Ibreve.alt</string>
		<string>Idotaccent.alt</string>
		<string>Idotbelow.alt</string>
		<string>Iogonek.alt</string>
		<string>Jcircumflex.alt</string>
		<string>agrave.alt</string>
		<string>aacute.alt</string>
		<string>acircumflex.alt</string>
		<string>atilde.alt</string>
		<string>adieresis.alt</string>
		<string>amacron.alt</string>
		<string>abreve.alt</string>
		<string>aring.alt</string>
		<string>aringacute.alt</string>
		<string>adotbelow.alt</string>
		<string>aogonek.alt</string>
		<string>ugrave.alt</string>
		<string>uacute.alt</string>
		<string>ucircumflex.alt</string>
		<string>utilde.alt</string>
		<string>udieresis.alt</string>
		<string>umacron.alt</string>
		<string>ubreve.alt</string>
		<string>uring.alt</string>
		<string>uhungarumlaut.alt</string>
		<string>udotbelow.alt</string>
		<string>uogonek.alt</string>
		<string>period.tab</string>
		<string>comma.tab</string>
		<string>colon.tab</string>
		<string>semicolon.tab</string>
	</array>
</dict>
</plist>
