<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>720</integer>
	<key>capHeight</key>
	<integer>690</integer>
	<key>copyright</key>
	<string>Tous droits reserves (c) Charles Daoud, Coppers and Brasses, 2017</string>
	<key>descender</key>
	<integer>-185</integer>
	<key>familyName</key>
	<string>Radio-Canada</string>
	<key>italicAngle</key>
	<real>-12.0</real>
	<key>openTypeHeadCreated</key>
	<string>2017/04/18 19:43:59</string>
	<key>openTypeNameDesigner</key>
	<string>Charles Daoud, Etienne Aubert Bonn, Alexandre Saumier Demers</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://charlesdaoud.com/ https://coppersandbrasses.com/</string>
	<key>openTypeNameManufacturer</key>
	<string>Charles Daoud, Etienne Aubert Bonn, Alexandre Saumier Demers</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://charlesdaoud.com/ https://coppersandbrasses.com/</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-8</integer>
		<integer>0</integer>
		<integer>510</integer>
		<integer>518</integer>
		<integer>690</integer>
		<integer>698</integer>
		<integer>720</integer>
		<integer>728</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>515</integer>
		<integer>525</integer>
		<integer>690</integer>
		<integer>700</integer>
		<integer>720</integer>
		<integer>730</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-195</integer>
		<integer>-185</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Radio-Canada-LightItalic</string>
	<key>postscriptFullName</key>
	<string>Radio-CanadaLightItalic</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-193</integer>
		<integer>-185</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>50</integer>
		<integer>54</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>60</integer>
		<integer>62</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-125</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Light</string>
	<key>styleMapFamilyName</key>
	<string>Radio-Canada</string>
	<key>styleName</key>
	<string>Light Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>510</integer>
</dict>
</plist>
