<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>720</integer>
	<key>capHeight</key>
	<integer>690</integer>
	<key>descender</key>
	<integer>-185</integer>
	<key>familyName</key>
	<string>Radio-Canada Condensed</string>
	<key>italicAngle</key>
	<real>-12.0</real>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>525</integer>
		<integer>537</integer>
		<integer>690</integer>
		<integer>702</integer>
		<integer>720</integer>
		<integer>732</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>515</integer>
		<integer>525</integer>
		<integer>690</integer>
		<integer>700</integer>
		<integer>720</integer>
		<integer>730</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-195</integer>
		<integer>-185</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-197</integer>
		<integer>-185</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>112</integer>
		<integer>132</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>137</integer>
		<integer>142</integer>
	</array>
	<key>styleName</key>
	<string>Bold Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>525</integer>
</dict>
</plist>
