<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>720</integer>
	<key>capHeight</key>
	<integer>690</integer>
	<key>descender</key>
	<integer>-185</integer>
	<key>familyName</key>
	<string>Radio-Canada Condensed</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>78</integer>
			<key>identifier</key>
			<string>hNDr485bcB</string>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>italicAngle</key>
	<real>-12.0</real>
	<key>openTypeHeadCreated</key>
	<string>2021/02/18 20:22:36</string>
	<key>openTypeHheaAscender</key>
	<integer>950</integer>
	<key>openTypeHheaDescender</key>
	<integer>-250</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Radio-Canada Condensed Bold Italic</string>
	<key>openTypeNameDesigner</key>
	<string>Charles Daoud, Etienne Aubert Bonn, Alexandre Saumier Demers</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://charlesdaoud.com/ https://coppersandbrasses.com/</string>
	<key>openTypeNameManufacturer</key>
	<string>Charles Daoud, Etienne Aubert Bonn, Alexandre Saumier Demers</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://charlesdaoud.com/ https://coppersandbrasses.com/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Radio-Canada Condensed</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold Italic</string>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>950</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2VendorID</key>
	<string>    </string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>3</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>950</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>250</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.04</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<real>-12.0</real>
		<real>0.0</real>
		<real>525.0</real>
		<real>537.0</real>
		<real>690.0</real>
		<real>702.0</real>
		<real>720.0</real>
		<real>732.0</real>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<real>-10.0</real>
		<real>0.0</real>
		<real>515.0</real>
		<real>525.0</real>
		<real>690.0</real>
		<real>700.0</real>
		<real>720.0</real>
		<real>730.0</real>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<real>-195.0</real>
		<real>-185.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>Radio-CanadaCnd-BoldItalic</string>
	<key>postscriptOtherBlues</key>
	<array>
		<real>-197.0</real>
		<real>-185.0</real>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<real>112.0</real>
		<real>132.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>137.0</real>
		<real>142.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-125</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>styleMapStyleName</key>
	<string>bold italic</string>
	<key>styleName</key>
	<string>Bold Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>310</integer>
	<key>xHeight</key>
	<integer>525</integer>
</dict>
</plist>
